.ant-steps-item-active .ant-steps-item-title {
    font-weight: 700 !important;
    color: #333 !important;
}

.ant-steps-item-finish .ant-steps-item-title {
    font-weight: 700 !important;
    color: #333 !important;
}

.p-apointment_list_schedule .anticon {
    color: #fff !important; 
}

.ant-steps .ant-steps-item-finish .ant-steps-item-icon {
    background-color: #28970a !important;
    
}
